<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/backbone/backbone-min.js"></script>
    <script src="bower_components/jquery.stellar/jquery.stellar.min.js"></script>
    <script src="app.js"></script>
    <script src="widgets/weather/model.js"></script>
    <script src="widgets/weather/view.js"></script>
    <script src="widgets/time/model.js"></script>
    <script src="widgets/time/view.js"></script>
    <link rel="stylesheet" href="bower_components/Materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">

    <script type="text/template" id="timeTemplate">
        <h1><%= time %></h1>
        <h5><%=day_of_week%>, <%=month%> <%=date%></h5>
    </script>

    <script type="text/template" id="weatherTemplate">
        <h1><%= temp + "&deg;" %></h1>
        <h5><%= condition %></h5>
    </script>

</head>

<body>
    <div row id="datacontainer">
        <div class="row">
            <div class="col s12 m6 l4 offset-m6 offset-l8">
                <div class="row">
                    <div id="timeWidget" class="col s6">
                    </div>
                    <div id="weatherWidget" class="col s6">
                    </div>
                </div>
                <div class="row">
                    <form method="get" action="http://www.google.com/search">
                        <div class="input-field" id="googleSearch">
                            <input id="q" type="text" name="q">
                            <label for="q">Search</label>
                        </div>
                        <button type="submit" style="display:none;">
                    </form>
                </div>
            </div>
        </div>
    </div>


  <div class="citycontainer">
    <div class="parallaxslide" data-stellar-ratio="1">
        <img src="images/svg/Complete-02.png-01.svg">
        <div class=""></div>
    </div>
    <div class="parallaxslide" data-stellar-ratio="3">
        <img src="images/svg/Complete-02.png-02.svg">
        <div class=""></div>
    </div>
    <div class="parallaxslide" data-stellar-ratio="2.1">
        <img src="images/svg/ftowerempirepng-01.svg">
        <div class=""></div>
    </div>
    <div class="parallaxslide" data-stellar-ratio="2">
        <img src="images/svg/Complete-02.png-07.svg">
        <div class=""></div>
    </div>
    <div class="parallaxslide" data-stellar-ratio="1">
        <img src="images/svg/ftowerempirepng-02.svg">
        <div class=""></div>
    </div>
    <div class="parallaxslide" data-stellar-ratio="0">
        <img src="images/svg/Complete-02.png-06.svg">
        <div class=""></div>
    </div>
    <div class="parallaxslide sixth" data-stellar-ratio="-0.6">
        <img src="images/svg/Complete-02.png-05.svg">
        <div class=""></div>
    </div>
    <div class="parallaxslide" data-stellar-ratio="-1.0">
        <img src="images/svg/Complete-02.png-04.svg">
        <div class="black"></div>
    </div>
</div>
</body>
</html>