.parent > div {
	width: 50%;
	height: 100%;
	top: 50%;
	position: fixed;
}

.red {
	width: 100px;
	height: 100%;
	z-index: 3;
}

.innerdiv {
	z-index: 999;
}

.blue {
	left: 50px;
	z-index: 2;
	background-color: blue;
}

.green {
	left: 100px;
	z-index: 1;
	background-color: green;
}

.parent {
	height: 10000px;
	width: 100%;
}