html, body {
}

body {
    width: 100%;
    height: 120vh;
    margin: 0;
}

#datacontainer {
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
}
#datacontainer, h1 {
    color: white;
    font-family: 'Helvetica Neue';
}

.citycontainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
}

.parallaxslide {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.black {
	background-color: black;
	width: 100%;
	height: 999999px;
}

#freedom {

}

#skyline {
    z-index: 0;
}
/*.sixth {
	top: -50px;
}*/

.thisshit {
    text-align: center;
    font-size: 3rem;
    position: fixed;
    z-index: 999;
}